@import "tailwindcss";

@theme {
    --animate-slideIn:slideIn 0.5s; 
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}